@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    padding: 50px;
}

.toolbar {
    margin-bottom: 20px;
    text-align: right;
}

.actions {
    padding: 0;
}

#tree, #files-table {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);

    padding: 0;
}

#tree {
    padding: 15px;
}

#files-table {
    display: none; /* before load */
    width: calc(75% - 20px);
    margin-left: 20px;
}

#files-table > thead > tr > th:first-of-type {
    width: 22px;
}

.file .icon {
    padding: 0 0 0 10px;

    font-family: 'Material Icons', sans-serif;
    font-size: 24px;

    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.file td, .file th {
    height: 55px;
    line-height: 55px !important;

    padding: 0 8px !important;
}

.file.folder::before {
    content: "folder"
}