#files-table, #information {
    -webkit-transition: width 500ms;
    transition: width 500ms;
}


#information p, #information a {
    width: 100%;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

#information .user,
#information .path,
#information .access,
#information .linkDate,
#information .member_id,
#information .age {
    font-weight: normal;
    font-size: 12px;
    word-break: break-all;
}

@media (max-width: 768px) {
    #information {
        width: 0;
        padding: 0;
    }
}