#files-table, #information {
    -webkit-transition: width 500ms;
    transition: width 500ms;
}

#files-table {
    table-layout: fixed;
}

#files-table th, #files-table a {
    word-break: break-all;
}

#information p, #information a {
    width: 100%;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

#information .member,
#information .revoke,
#information .name,
#information .path,
#information .expiration,
#information .memberId,
#information .url {
    font-weight: normal;
    font-size: 12px;
    word-break: break-all;
}

@media (max-width: 768px) {
    #information {
        width: 0;
        padding: 0;
    }
}

#loading-screen img {
    display: block;
    margin: 0 auto;
}

#loading-gear {
    width: 48px;
    transform: rotate(0deg);

    animation-name: rotating-gear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotating-gear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}