{% extends "layout.html" %}
{% block title %}
    index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> {#for indexing#}
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome</h1>
        </div>
        <div class="row toolbar">
            <div class="btn-group actions">
                <button class="btn btn-primary material-icons" id="upload" data-toggle="modal" data-target="#upload-modal">cloud_upload</button>
                <button class="btn btn-danger disabled material-icons" id="delete">delete</button>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-3" id="tree">
                Tree is planned
            </div>
            <table class="col-xs-12 col-sm-9 table table-hover" id="files-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody id="files"></tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadModalLabel">Upload File</h4>
                </div>
                <div class="modal-body">
                    <input id="image-file" type="file"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}