{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> {#for indexing#}
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/index.js"></script>
{% endblock %} {#for indexing#}

{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="navbar-brand">Brand</div>
            </div>

            <!-- I don't want it apart of the collapsible portion -->
            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav pull-left">
                    {% for page in pages %}
                        <li><a href="{{ page.link }}">{{ page.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Dropbox Admin</h1>
                    <p>Telenav's Dropbox admin page</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 list-group">
                {% for page in pages %}
                    <a class="list-group-item" href="{{ page.link }}">
                        <h4>{{ page.name }}</h4>
                        <p>{{ page.description }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}