{% extends "layout.html" %}
{% block title %}
    index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> {#for indexing#}
    <link rel="stylesheet" href="/css/login.css">

    <script src="js/login.js"></script>
{% endblock %}

{% block content %}
    <div class="login">
        <h3>Login</h3>

        <label for="token">Token</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Token" id="token">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="login-button">Login</button>
            </span>
        </div>

        <button class="btn btn-danger" id="dev-token">
            Use Dev Token
        </button>
    </div>
{% endblock %}