{% extends "layout.html" %}


{% block title %}
    Shared Folders
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/shared-pages.css">

    <script src="/js/shared-folders.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary btn-xs" href="/">
                    <span class="glyphicon glyphicon-chevron-left"></span> Go Back</a>

                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#force-refresh-modal">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Force Refresh
                </button>
            </div>

            <div class="col-xs-10">
                <h1>Shared Folders</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <table class="table table-hover" id="files-table">
                    <thead>
                    <tr>
                        <th class="user">User</th>
                        <th class="path">Path</th>
                        <th class="access">Access</th>
                        <th class="age">Age(days)</th>
                    </tr>
                    </thead>
                    <tbody id="files"></tbody>
                </table>

                <div class="col-xs-12" id="loading-screen">
                    <img src="/images/telenav_arrow.png" alt="Loading...">
                    <img src="/images/gear.svg" alt="Loading..." id="loading-gear">
                </div>
            </div>
            <div class="col-sm-3" id="information">
                <h3>File Information</h3>
                <p>Path:</p>
                <p class="path"></p>
                <p>Access:</p>
                <p class="access"></p>
                <p>Link Date:</p>
                <p class="linkDate"></p>
                <p>Expiration Date:</p>
                <p class="age"></p>
                <p>Member Id:</p>
                <p class="memberId"></p>
                <p>URL:</p>
                <a class="url" target="_blank" style="font-weight: normal;"></a>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="force-refresh-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Force Update</h4>
                </div>
                <div class="modal-body">
                    Force updating can take a long time. Please confirm.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="btn btn-danger" href="/pages/members" id="force-refresh" data-dismiss="modal">Confirm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
