{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/css/user-dashboard.css">

    <script src="/js/url.min.js"></script>
    <script src="/js/user-dashboard.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-2">
                <!--suppress HtmlUnknownTarget -->
                <button class="btn btn-primary btn-xs" onclick="history.back();" id="back-button">
                    <span class="glyphicon glyphicon-chevron-left"></span> Go Back
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="jumbotron">
                    <h1 id="member-name"></h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3><b>ID:</b></h3>
                <p id="team-member-id"></p>
            </div>
        </div>
        <div class="row">

            {# Pills #}
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#shared" aria-controls="home" role="tab"
                                                          data-toggle="tab">Shared</a></li>
                <li role="presentation"><a href="#links" aria-controls="profile" role="tab"
                                           data-toggle="tab">Links</a></li>
            </ul>

            {# Tabs #}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="shared">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Access Type</th>
                            <th>Name</th>
                            <th>Path</th>
                            <th>Days</th>
                            <th>Invited</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody id="shared-table"></tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="links">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 80px;"></th>
                            <th>Name</th>
                            <th>Expiration</th>
                            <th>Path</th>
                            <th>Visibility</th>
                        </tr>
                        </thead>
                        <tbody id="links-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="no-id-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Invalid ID</h4>
                </div>
                <div class="modal-body">
                    Invalid ID. Please have a valid ID in the URL.
                </div>
                <div class="modal-footer">
                    <!--suppress HtmlUnknownTarget -->
                    <a class="btn btn-warning" href="/pages/members">Members</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="revoke-confirm-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm Revoke</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-warning" data-dismiss="modal" id="confirm-revoke">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}